<form action="/cars" method="post">
  <input id="makeModel" name="makeModel" placeholder="Enter make, model" type="text" required> 
  <br>
  <input id="price" name="price" type="text" placeholder="Enter price" required>
  <br>
  <input id="miles" name="miles" type="text" placeholder="Enter miles" required>
  <br>
  <button type="submit">Submit</button>
</form>
<a href="/">Go home</a>
<a href='/cars'>List of cars</a>