<div class="indexPage">
  <h1>Welcome to the Car Dealship!</h1>
  <a href='/cars'>List of cars</a>
  <a href='/cars/new'>Add a car</a>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel="stylesheet"  href="~/css/styles.css">
</div>